.sweep-head {
	width: 100vw;
	height: 100vh;
	/* background: #ffffffea; */
}

.sweep {
	position: absolute;
	top: 40%;
	left: 40%;
	height: 100%;
    width: 100%;
    background: #000;
}
.sweep::after {
	content: 'Loading...';
    position: absolute;
    color: red;
	top: 40%;
	left: 40%;
	height: 100%;
	width: 100%;
}
.sweep-head.sweep--hide {
	opacity: 0;
	display: none;
}
