.home{
    position: relative;
    overflow-x: hidden;
    background: url('./img/bg2.jpg') no-repeat center center/cover !important;
    /* background-color: rgba(255, 255, 255, 0.109) !important; */
    /* background-color: red !important; */
    /* background-blend-mode: lighten; */
    z-index: 1;
}
.main{
    /* background-image: url('./bg.jpg'); */
    display: block;
	/* background: url('./img/bg.jpg') repeat !important;
    background-color: rgba(0,0,0, 0.9) !important;
    background-blend-mode: lighten; */
    /* background-color: red !important; */
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    height: 1000px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    /* transform: translateY(400px); */
}

.content{
    z-index: 10;
}

.pins{
    width: 200%;
    position: relative;
}
.pin{
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%; */
    /* top: 0; */
    width: 1500px ;
    text-align: center;
}

.pin2{
    /* left: 100%; */
}

.pin3{
    /* left: 200%; */
}