.home{
    position: relative;
    overflow-x: hidden;
    background: url('./img/bg2.jpg') no-repeat center center/cover !important;
    /* background-color: rgba(255, 255, 255, 0.109) !important; */
    /* background-color: red !important; */
    /* background-blend-mode: lighten; */
    z-index: 1;
}
.main{
    /* background-image: url('./img/bg.jpg'); */
    display: block;
	/* background: url('./img/bg.jpg') repeat !important;
    background-color: rgba(0,0,0, 0.9) !important;
    background-blend-mode: lighten; */
    background-color: rgb(2, 2, 2) !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 900px;
    width: 100%;
    z-index: -2;
    opacity: 0.8;
    /* transform: translateY(400px); */
}
#head-p{
    overflow: hidden;
}
span{
    display: inline-block; 
    /* margin: 0 10px; */
}
span.head-cont{ 
    margin: 0 10px;
    /* opacity: 0; */
    /* background: rgba(0, 0, 0, 1); */
    font-size: 1.1em;
    font-weight: 600;
	font-family: 'Poppins', sans-serif; 
}
/* div.head-cont{ 
    margin: 0 10px;
    opacity: 0;
    background: rgb(255, 0, 0);
    display: inline-block;
} */

.content{
    z-index: 10;
}

.pins{
    width: 200%;
    position: relative;
}
.pin{
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%; */
    /* top: 0; */
    width: 1500px ;
    text-align: center;
}

.pin2{
    /* left: 100%; */
}

.pin3{
    /* left: 200%; */
}
.feature{
    /* background: red; */
    padding: 2em;
    width: 1100px;
    
}
.feature section{
   display: flex;
   align-items: center;
   /* background: #000; */
   background: inherit;
}
.feature section .mar{
  /* background: red; */
  margin: 50px 0 0 150px;
  padding: 20px 0 0 0;
  font-size: 25px;
}

/* #svg{
    fill: "#fff";
    font-size: 30px;
}
#text{
    fill: "#fff";
    font-size: 30px;
    
} */

/* <svg height="20" width="20">
                      <text x="0" y="0" fill="red" id="text">We</text>
</svg> */

.button-large{
    /* display: inline-block; */
    transition: all 100ms ease-out;
    /* border: none !important; */
    outline: none !important;
    /* box-shadow: 0 0 15px rgb(255, 2, 2); */
    font-size: 1.4em;
    background: rgb(0, 0, 0);
    color: #fff;
    border: solid 1px rgb(255, 255, 255);
}
.button-large:hover{
    background: rgba(0, 0, 0, 0.493);
    color: #fff;
    /* background: #fff; */
    /* color: #000; */
    box-shadow: 0 0 9px #ffffff; 
    transform: scale(110%);
    border:  solid 1px rgba(255, 255, 255, 0)
}